<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Begin of Session for Channevln cached -->
    <section name="ChannelvnCacheProvider" type="Channelvn.MemcachedProviders.Cache.CacheProviderSection, Channelvn.MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <sectionGroup name="channelvn.enyim.com">
      <section name="MemcachedServer11" type="Channelvn.Enyim.Caching.Configuration.MemcachedClientSection, Channelvn.Enyim.Caching"/>
    </sectionGroup>
    <!-- End of Session for Channevln cached -->
  </configSections>
  <channelvn.enyim.com>
    <MemcachedServer11 keyTransformer="Channelvn.Enyim.Caching.Memcached.TigerHashKeyTransformer, Channelvn.Enyim.Caching">
      <servers>
        <add address="127.0.0.1" port="20242"/>
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
    </MemcachedServer11>
  </channelvn.enyim.com>
  <ChannelvnCacheProvider defaultProvider="MemcachedCacheProviderOnServer11">
    <providers>
      <add category="22" name="MemcachedCacheProviderOnServer11" type="Channelvn.MemcachedProviders.Cache.MemcachedCacheProvider, Channelvn.MemcachedProviders" keySuffix="_Server11_" defaultExpireTime="2000" memcachedSection="MemcachedServer11"/>
    </providers>
  </ChannelvnCacheProvider>
  <!--<connectionStrings>
    <add name="News_ConnectionString" connectionString="server=.;User ID=sa;Password=123456;Initial Catalog=NetLife" providerName="System.Data.SqlClient"/>
    <add name="NewsMaster_ConnectionString" connectionString="server=.;User ID=sa;Password=123456;Initial Catalog=NetLife" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="News_ConnectionString" connectionString="server=.;User ID=sa;Password=123456;Initial Catalog=NetLife" providerName="System.Data.SqlClient"/>
    <add name="NewsMaster_ConnectionString" connectionString="server=.;User ID=sa;Password=123456;Initial Catalog=NetLife" providerName="System.Data.SqlClient"/>-->
    <add name="News_ConnectionString"
       connectionString="data source=WEBSER\SQLSERVER;
       initial catalog=NetLife;persist security info=True; 
       Integrated Security=SSPI;"
       providerName="System.Data.SqlClient" />
    <add name="NewsMaster_ConnectionString"
     connectionString="data source=WEBSER\SQLSERVER;
       initial catalog=NetLife;persist security info=True; 
       Integrated Security=SSPI;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Title" value="Tin tức Online"/>
    <add key="WriteErrorToFile" value="true"/>
    <add key="CoreDb" value="atv"/>
    <add key="Gzip" value="false"/>
    <add key="Domain" value="http://beta.netlife.vn"/>
    <add key="ImageUrl" value="http://beta.netlife.vn"/>
    <add key="ImagesStorageUrl" value="http://static.netlife.vn"/>
    <add key="ImageServerPath" value="http://static.netlife.vn"/>
    <add key="staticdomain" value="http://beta.netlife.vn"/>
    <add key="SolrServer" value="http://127.0.0.1:8080/solr/ttol"/>
    <add key="AllowDistCache" value="1"/>
    <add key="isMonitorCache" value="false"/>
    <!--<add key="ConnectionString" value="server=.;User ID=sa;Password=123456;Initial Catalog=NetLife"/>
    <add key="MasterConnectionString" value="server=.;User ID=sa;Password=123456;Initial Catalog=NetLife"/>-->
    <add key="ConnectionString" value="data source=WEBSER\SQLSERVER;
       initial catalog=NetLife;persist security info=True; 
       Integrated Security=SSPI;"/>
    <add key="MasterConnectionString" value="data source=WEBSER\SQLSERVER;
       initial catalog=NetLife;persist security info=True; 
       Integrated Security=SSPI;"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="smtpUser" value=""/>
    <add key="smtpPass" value=""/>
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="smtpPort" value="587"/>
    <add key="SecurityKey" value="tagnetlifevn"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="atv" connectionStringName="NewsMaster_ConnectionString" pollTime="10000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <httpModules>
      <add name="UrlRewriteModule"
           type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.html" type="ATVCommon.UrlRewrite.RewriteModule"/>
      <add verb="*" path="*.html" type="ATVCommon.UrlRewrite.RewriteModule"/>
      <add verb="*" path="*.rss" type="ATVCommon.UrlRewrite.RewriteModule"/>
      <add verb="GET" path="ImageVerifier.axd" type="BOATV.ImageVerifier, BOATV"/>
    </httpHandlers>
    <compilation debug="true"/>
    <pages validateRequest="false" enableViewState="false" enableViewStateMac="false"/>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly" defaultRedirect="/">
      <error statusCode="404" redirect="/Pages/Page404.aspx"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="handler" path="*.html" verb="*" type="ATVCommon.UrlRewrite.RewriteModule" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="htm" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="rss" path="*.rss" verb="*" type="ATVCommon.UrlRewrite.RewriteModule" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="rsss" path="*.rss" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="handler1" path="*.html" verb="*" type="ATVCommon.UrlRewrite.RewriteModule" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="search" path="*.search" verb="*" type="ATVCommon.UrlRewrite.RewriteModule" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="htm1" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="axd" path="ImageVerifier.axd" verb="*" type="BOATV.ImageVerifier" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="axd1" path="ImageVerifier.axd" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <!--<clientCache cacheControlMode="UseExpires" httpExpires="Fri, 27 Sep 2013 00:00:00 GMT"/>-->
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/Pages/Page404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
  </system.webServer>

</configuration>