body {
    width:100%;
}
a { outline: none;}
.container { width: @container-desktop !important; } 

@import "lesshat";
 
@screen-xs: 0;  
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;
 
@screen-sm: 0;  
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;

.noibat .ulnb h3{margin:0;/*color: #fff;*/color: white;font-size: 18px;font-weight: bold;background:url("/images/bg-h3nb.jpg") no-repeat right center #056a9a;padding: 11px 15px;}
.noibat .ulnb { /*padding-left: 15px;*/background-color:#333;}
.content .col-left { padding-right: 20px;}
.logo-ft { padding-left: 102px;}
.footer{ height: 200px;}
 .fl {float:left}
 .padbt10 { padding-bottom: 10px;}
.header .menu {background:#bf282f}
.header .menu .ip{background:#eeeeee;margin-top:6px;padding:3px 0;}
.header .menu .ip input {border: none;background: #eeeeee;padding-left:5px;}
::-webkit-input-placeholder { font-size: 12px; color: #555; }
::-moz-placeholder { font-size: 12px; color: #555; }
:-ms-input-placeholder { font-size: 12px; color: #555; }
input:-moz-placeholder { font-size: 12px; color: #555; }

.nav li a{ background: url("/Images/boder-menu.jpg") no-repeat right center;margin: 0 !important}

.header .slides{background:#eeeeee;}
.content{ padding-top: 20px;}
.content .noibat{/*background:#333333;*/background:#333; padding:10px !important;}
.content .title-nb {background:#bf262d;padding:15px !important;}
.content .title-nb a {font-size:20px;font-weight:bold;color:#fff;line-height:24px}
.content .img-nb{padding:0!important;}
.noibat {font-family: Arial !important}
#btn-search { cursor: pointer;border: none;background: #eeeeee;padding: 0 10px}
.noibat .ulnb ul{ padding:15px 0 0px 8px;margin: 0;/*color: #fff;*/color: #333; list-style-type:none;}
.noibat .ulnb ul li {padding-bottom: 10px}
.noibat .ulnb ul li a{ color: #fff; /*color: #333;*/font-size: 12px;font-weight: bold;line-height: 18px; padding-right:7px;}
.content .rss{ border: 1px solid #eeeeee;padding: 10px;}
.content .rss p { padding: 0;margin: 0;color: #666666;font-size: 12px;}
.rss a { padding-left: 20px;color: #666666;font-size: 12px;}
.rss .arss { background: url("/images/rss.jpg") no-repeat left center;padding-right: 10px;}
.rss .fb { background: url("/images/fb.jpg") no-repeat left center;margin-left: 10px;}
.content .bonbainb {padding-top: 20px;margin: 0 -10px 0 -10px;}
.content .bonbainb .item-nb { padding: 0 10px;}
.content .bonbainb .item-nb h3{ margin: 0;line-height: 18px !important;padding-top: 5px;}
.content .bonbainb .item-nb h3 a{ color: #333333;font-size: 14px ;font-weight: bold;}
.bg-hr { background: url("/Images/hr.jpg") repeat-x left center;height: 1px;padding: 40px 0}
.catitem { padding-right: 20px;padding-bottom: 20px}
.catitem h3{ margin: 0;padding: 9px 15px;background: url("/Images/bg-title.png") no-repeat right center #bf262d;}
.catitem h3 a{ color: #fff;display: block;font-weight: bold;text-transform: uppercase;font-size: 16px}
.noibatmuc p { margin-bottom: 10px !important;}
.catitem .noibatmuc {padding: 10px;}
.catitem .noibatmuc h2 { line-height: 18px;padding: 15px 0 10px 0}
.catitem .noibatmuc h2 a{ font-size: 16px;font-weight: bold;color: #333333}
.catitem .noibatmuc p{ color: #888888;font-size: 13px; }
.catitem .item-cat{padding: 0;margin: 0;}
.catitem .item-cat li{ list-style-type: none;padding: 10px;border-top:1px solid #eeeeee}
.catitem .item-cat li .img-it{ padding-right: 15px;float: left;}
.catitem .item-cat li p a { color: #333333;font-size: 14px;font-weight: bold}
.liitem {border: none !important;padding-left: 20px !important;padding-bottom: 5px !important;padding-top: 0 !important;background: url("/Images/bg-li.jpg") no-repeat 10px 8px}
.liitem a{ font-size: 12px;font-weight: bold;color: #666666;}
.nb {padding-bottom: 0 !important}
.muc { padding: 10px;}
.txthot {line-height: 16px !important;}
.txthot a { font-size: 12px !important;color: #fff !important;}
.imghot {padding: 0 10px 10px 0 !important}
.ulhot { padding: 10px !important;background: #333333 !important;border: none !important; }
.ulhot li { border: none !important;padding: 5px 10px 5px 10px !important;}
.catright {padding-right: 0 !important}
.itvideo h2 { line-height: 18px;margin: 0;padding:15px 0 10px 0;}
.itvideo h2 a{ color: #333333;font-size: 16px;font-weight: bold}
.itvideo li { padding-top: 20px !important;}
.itvideo li:first-child {padding-top: 10px !important}
.ulblog li {padding: 20px !important}
.ulblog img { float: left; padding-right: 15px}
.ulblog h4{ color: #333;font-size: 14px;font-weight: bold;margin:0}
.ulblog h5{ color: #888888;font-size: 13px;margin: 7px 0;}
.ulblog h6{ color: #bbbbbb;font-size: 12px;background: url("/Images/ic-clock.jpg") no-repeat left center;padding-left: 15px;}
.ulblog p { margin-bottom: 10px;}
.item-list { padding: 25px 0;border-bottom: 1px solid #eeeeee}
.img-list { float: left;padding-right: 20px}
.item-list:first-child {padding-top:0 !important}
.info-list h5 { margin: 0;font-size: 12px;font-weight: normal;color: #878787;}
.info-list h3 {font-size: 16px;font-weight: bold;margin: 10px 0 15px 0;}
.info-list h3 a{ color: #333333;}
.info-list p { color: #878787;font-size: 13px;}
.pagging{ margin: 0;padding: 0;}
.pagging li { list-style-type: none;float: left;margin: 0 5px;}
.pagging li a {color: #858585;display: block;padding:7px;font-weight: bold}
.pagging li:hover a{ background: #bf262d;color: #fff;text-decoration: none}
.activepage {background: #bf262d;color: #fff !important;text-decoration: none}
.breadcrumbdt { border: 1px solid #eeeeee;padding: 20px 30px}
.breadcrumbdt a { color: #333333;font-size: 13px}
.breadcrumbdt span {padding: 0 10px}
.detailinfo { padding: 20px 30px;border: 1px solid #eeeeee;border-top: none;}
.detailinfo h2 { margin: 0;padding-bottom: 20px;color: #bf282f;font-weight: bold;font-size: 28px;}
.detailinfo h2 a { }
.detailinfo .infoshare {}/*{border-bottom: 1px solid #eeeeee; border-top: 1px solid #eeeeee;padding: 20px 0}*/
.detailinfo .initcontent { font-size: 15px;font-weight: bold;color: #333;padding-bottom: 20px;}
.infoshare span{color: #aaaaaa;font-size: 12px;}
.infoshare .nvb { background: url("/images/pen.jpg") no-repeat left center;padding:0 25px 0 20px;font-weight: bold ;text-transform: uppercase;color: #333333;}
.infoshare .gio { background: url("/images/ic-clock.jpg") no-repeat left center;padding:0 10px 0 15px}
.infoshare .ngay { background: url("/images/books.jpg") no-repeat left center;padding:0 10px 0 18px}
.infoshare .thumuc { background: url("/images/folder.jpg") no-repeat left center;padding:0 10px 0 18px}
.detailinfo .detailcontent { padding: 30px 0 10px 0;}
.likefb { padding: 10px 0;}
.tags{ padding: 20px 0;border-bottom: 1px solid #eeeeee; border-top: 1px solid #eeeeee;}
.tags p{ font-weight: bold;font-size: 16px;color: #bf272e;}
.tags a {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: #333333;
    float: left;
    font-size: 13px;
    margin: 0 10px 12px 0;
    padding: 1px 5px;text-transform: uppercase;
}
.tags a:hover{ color: #fff;text-decoration: none;background: #bf262d;border:1px solid #bf262d }
.tinlq {border-bottom: 1px solid #eeeeee}
.tinlq h3{ color: #bf272e;font-size: 16px;font-weight: bold;text-transform: uppercase}
.tinlq ul { padding:0 0 0 15px;color: #666666; list-style-type: none;}
.tinlq ul li { padding: 6px 0;}
.tinlq ul li a{ color: #666666;font-weight: bold;font-size: 13px; padding-right:10px;}
.commentfb { padding-top: 20px;}
.footer {background:url(/Images/bg-footer.jpg) repeat-x left center }
.nav-footer { padding-top: 5px;}
.nav-footer li a{ background: url("/Images/boder-menu-footer.jpg") no-repeat right center !important;margin: 0 !important;color: #888888 !important;font-size: 12px !important}
.nav-footer li a:hover{text-decoration: underline}
#ic-home a{padding-left: 0 !important}
.logo-ft { padding-top: 30px;}
.infopage { padding-top: 30px;}
.infopage span { color: #878787;font-size: 13px;}
.lienhe { background: #eeeeee;padding: 20px;}
.boxadv { padding-bottom: 10px;}
.bx-wrapper {
    width: 100% !important;
}
.bx-viewport { border-left: 1px solid #eeeeee; border-right: 1px solid #eee}
.bx-pager  {display: none}
.slide{ padding: 10px;background: #fff}
.slide h4 { color: #bf262d;font-size: 10px;text-transform: uppercase}
.slide h4{ margin: 0;padding-bottom: 4px}
.slide a {
        color: #333333;
        font-size: 12px;
    }
    .md {width: 5%;color: #fff;background: #fff;}
    .slide .ttsl { padding-left: 10px;}
    .ltrText {  padding-bottom: 10px;margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid #eee;}
.chuyen-muc-cat { padding-bottom: 10px;}
.chuyen-muc-cat ul { margin: 0;padding: 0;}
.chuyen-muc-cat ul li { float: left;list-style-type: none;margin-right: 10px;}
.chuyen-muc-cat ul li a { padding: 5px 10px;display: block;color: #333333;text-transform: uppercase;font-weight: bold;font-size: 12px;}
.chuyen-muc-cat ul li a:hover { text-decoration: none !important;background: #056a9a;color: #fff;}
.activemn {
    background: #992026 !important;
}
.activesmn{ background: #056a9a;}
.activesmn a{ color: #ffffff !important;}
.commentfb .fb-comments { width: 100%;}
.commentfb .fb-comments span{ width: 100% !important;}
.commentfb iframe {width: 100% !important}

.netbody {
    
}
.netbody p, .netbody div {
    margin-bottom: 10px !important;
}
.article-photo.inlinephoto > img {
    max-width: 620px;
}
.relatenews li { float: left;padding-right: 10px !important;list-style-type: none;width: 160px;}
.relatenews li.news {width: 33.333333%;}/*HTTHAO*/
.relatenews li.news a img {width: 100%;}/*HTTHAO*/
.box-border { background: #f7f7f7 none repeat scroll 0 0;border: 1px solid #eeeeee;float: left; width:100%}
.netbody img {
    max-width: 100%;
}