<?xml version="1.0" encoding="utf-8" ?>
<items>
  <item>
    <cat_id>1001</cat_id>
    <display>xahoi</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1002</cat_id>
    <display>113</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1003</cat_id>
    <display>thuongnhat</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1004</cat_id>
    <display>phongsukis</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1034</cat_id>
    <display>kinhte</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1035</cat_id>
    <display>chungkhoan</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1036</cat_id>
    <display>batdongsan</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1037</cat_id>
    <display>doanhnghie</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1038</cat_id>
    <display>goccuasep</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1040</cat_id>
    <display>vanhoa</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1043</cat_id>
    <display>hautruong</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1044</cat_id>
    <display>nguoinoiti</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1045</cat_id>
    <display>amnhac</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1046</cat_id>
    <display>sankhaudie</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1047</cat_id>
    <display>thethao</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1048</cat_id>
    <display>binhluanth</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1049</cat_id>
    <display>benle</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1050</cat_id>
    <display>dudoan</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1051</cat_id>
    <display>thegioi</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1052</cat_id>
    <display>chuyen4phu</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1053</cat_id>
    <display>xfile</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1054</cat_id>
    <display>binhluan</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1055</cat_id>
    <display>khoahoc</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1056</cat_id>
    <display>congnghe</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1057</cat_id>
    <display>dienthoai</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1058</cat_id>
    <display>xe</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1059</cat_id>
    <display>kinhnghiem</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1060</cat_id>
    <display>thugian</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1061</cat_id>
    <display>game</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1062</cat_id>
    <display>cuoi</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1063</cat_id>
    <display>vanhoc</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1064</cat_id>
    <display>tracnghiem</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1066</cat_id>
    <display>diemdenhom</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1067</cat_id>
    <display>thoitrang</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1068</cat_id>
    <display>lamdep</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1069</cat_id>
    <display>suckhoe</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1070</cat_id>
    <display>nhadep</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1071</cat_id>
    <display>yeusong</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1072</cat_id>
    <display>chuyencong</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1073</cat_id>
    <display>lamchame</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1074</cat_id>
    <display>nhipsongtr</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1075</cat_id>
    <display>noitro</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1076</cat_id>
    <display>xem</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1077</cat_id>
    <display>nghe</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1078</cat_id>
    <display>anchoi</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1079</cat_id>
    <display>tamsu</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1080</cat_id>
    <display>thaoluan</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1081</cat_id>
    <display>tinbandoc</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1082</cat_id>
    <display>blog360</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1083</cat_id>
    <display>blogvip</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1084</cat_id>
    <display>photo</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1085</cat_id>
    <display>video</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1086</cat_id>
    <display>giaitri</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1087</cat_id>
    <display>doisong</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1092</cat_id>
    <display>giaoduc</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1093</cat_id>
    <display>daotaotuye</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1094</cat_id>
    <display>thitruong</display>
    <news_catId></news_catId>
  </item>
  <item>
    <cat_id>1097</cat_id>
    <display>doimatvacu</display>
    <news_catId></news_catId>
  </item>
</items>