<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<MetaRules>
  <Configuration>
    <MetaRulesFile cacheExpire="3600" />
  </Configuration>
  <rules>
    <rule>
      <Cat_ID>0</Cat_ID>
      <Title>Tin tức Online, thời sự, xã hội, văn hóa, thể thao</Title>
      <Description>Thông tin nhanh mới nhất được cập nhật hàng giờ,tin tức Việt Nam, thế giới về xã hội, kinh doanh, pháp luật, khoa học, công nghệ, đời sống, văn hóa, rao vặt, tâm sự.</Description>
      <Keywords>Sao, giải trí, thể thao, lộ hàng, video clip, đời sống, tâm sự, chính luận, nhà đẹp.</Keywords>
    </rule>
    <rule>
      <Cat_ID>1001</Cat_ID>
      <Title>Xã hội</Title>
      <Description>Cập nhật thông tin mới nhất xã hội trong và ngoài nước</Description>
      <Keywords>Xã hội, sát hại, bán dâm, nghi án, clip, khuyết tật.</Keywords>
    </rule>
    <rule>
      <Cat_ID>1002</Cat_ID>
      <Title>113</Title>
      <Description>Câp nhật các thông tin về an ninh, hình sự, bản tin 113 trong ngày</Description>
      <Keywords>113</Keywords>
    </rule>
    <rule>
      <Cat_ID>1003</Cat_ID>
      <Title>Thường nhật</Title>
      <Description>Cập nhật thông tin về cuộc sống thường nhật của người nổi tiếng, xã hội... trong và ngoài nước</Description>
      <Keywords>Thường nhật</Keywords>
    </rule>
    <rule>
      <Cat_ID>1004</Cat_ID>
      <Title>Phóng sự - kí sự</Title>
      <Description>Thông tin Phóng sự - kí sự trong và ngoài nước</Description>
      <Keywords>Phóng sự - kí sự</Keywords>
    </rule>
    <rule>
      <Cat_ID>1034</Cat_ID>
      <Title>Kinh tế</Title>
      <Description>Cập nhật nhanh chóng thông tin kinh tế trong và ngoài nước</Description>
      <Keywords>Kinh tế</Keywords>
    </rule>
    <rule>
      <Cat_ID>1035</Cat_ID>
      <Title>Chứng khoán</Title>
      <Description>Câp nhật thông tin thị trường chứng khoán, nhà đầu tư chứng khoán</Description>
      <Keywords>Chứng khoán</Keywords>
    </rule>
    <rule>
      <Cat_ID>1036</Cat_ID>
      <Title>Bất động sản</Title>
      <Description>Thông tin giá cả bất động sản và dự án bất động sản trong nước</Description>
      <Keywords>Bất động sản</Keywords>
    </rule>
    <rule>
      <Cat_ID>1037</Cat_ID>
      <Title>Doanh nghiệp</Title>
      <Description>Thông tin doanh nghiệp</Description>
      <Keywords>Doanh nghiệp</Keywords>
    </rule>
    <rule>
      <Cat_ID>1038</Cat_ID>
      <Title>Góc của sếp</Title>
      <Description>Bài viết phóng sự về cuộc sống thường nhật</Description>
      <Keywords>Góc của sếp</Keywords>
    </rule>
    <rule>
      <Cat_ID>1039</Cat_ID>
      <Title>Thị trường</Title>
      <Description>Thị trường</Description>
      <Keywords>Thị trường</Keywords>
    </rule>
    <rule>
      <Cat_ID>1040</Cat_ID>
      <Title>Văn Hóa</Title>
      <Description>Văn Hóa</Description>
      <Keywords>Văn Hóa</Keywords>
    </rule>
    <rule>
      <Cat_ID>1043</Cat_ID>
      <Title>Hậu trường</Title>
      <Description>Thông tin, Phóng sự hậu trường</Description>
      <Keywords>Hậu trường</Keywords>
    </rule>
    <rule>
      <Cat_ID>1044</Cat_ID>
      <Title>Người nổi tiếng</Title>
      <Description>Cập nhật thông tin scandal,cuộc sống thường ngày của người nổi tiếng</Description>
      <Keywords>Người nổi tiếng</Keywords>
    </rule>
    <rule>
      <Cat_ID>1045</Cat_ID>
      <Title>Âm nhạc</Title>
      <Description>Cập nhật thông tin âm nhạc trong và ngoài nước</Description>
      <Keywords>Âm nhạc</Keywords>
    </rule>
    <rule>
      <Cat_ID>1046</Cat_ID>
      <Title>Sân khấu điện ảnh</Title>
      <Description>Sân khấu điện ảnh</Description>
      <Keywords>Sân khấu điện ảnh</Keywords>
    </rule>
    <rule>
      <Cat_ID>1047</Cat_ID>
      <Title>Thể thao</Title>
      <Description>Cập nhật thông tin các giải đấu thể thao,kết quả trận đấu trong nước và quốc tế</Description>
      <Keywords>Thể thao</Keywords>
    </rule>
    <rule>
      <Cat_ID>1048</Cat_ID>
      <Title>Bình luận</Title>
      <Description>Bình luận</Description>
      <Keywords>Bình luận</Keywords>
    </rule>
    <rule>
      <Cat_ID>1049</Cat_ID>
      <Title>Bên lề</Title>
      <Description>Bên lề</Description>
      <Keywords>Bên lề</Keywords>
    </rule>
    <rule>
      <Cat_ID>1050</Cat_ID>
      <Title>Dự đoán</Title>
      <Description>Dự đoán</Description>
      <Keywords>Dự đoán</Keywords>
    </rule>
    <rule>
      <Cat_ID>1051</Cat_ID>
      <Title>Thế giới</Title>
      <Description>Cập nhật thông tin về kinh tế, chính trị của thế giới</Description>
      <Keywords>Thế giới</Keywords>
    </rule>
    <rule>
      <Cat_ID>1052</Cat_ID>
      <Title>Chuyện 4 phương</Title>
      <Description>Các câu chuyện 4 phương</Description>
      <Keywords>Chuyện 4 phương</Keywords>
    </rule>
    <rule>
      <Cat_ID>1053</Cat_ID>
      <Title>XFile</Title>
      <Description>XFile</Description>
      <Keywords>XFile</Keywords>
    </rule>
    <rule>
      <Cat_ID>1054</Cat_ID>
      <Title>Bình luận</Title>
      <Description>Bình luận</Description>
      <Keywords>Bình luận</Keywords>
    </rule>
    <rule>
      <Cat_ID>1055</Cat_ID>
      <Title>Khoa học</Title>
      <Description>Thông tin khoa học mới nhất trên toàn thế giới</Description>
      <Keywords>Khoa học</Keywords>
    </rule>
    <rule>
      <Cat_ID>1056</Cat_ID>
      <Title>Công nghệ</Title>
      <Description>Cập nhật các thông tin,xu hướng công nghệ trên toàn thế giới</Description>
      <Keywords>Công nghệ</Keywords>
    </rule>
    <rule>
      <Cat_ID>1057</Cat_ID>
      <Title>Điện thoại</Title>
      <Description>Cập nhật thông tin các mẫu máy điện thoại mới và sắp ra mắt trong nước và quốc tế</Description>
      <Keywords>Điện thoại</Keywords>
    </rule>
    <rule>
      <Cat_ID>1058</Cat_ID>
      <Title>Xế</Title>
      <Description>Cập nhật thông tin về xe và ngành công nghiệp xe trên toàn thế giới</Description>
      <Keywords>Xế</Keywords>
    </rule>
    <rule>
      <Cat_ID>1059</Cat_ID>
      <Title>Kinh nghiệm</Title>
      <Description>Tổng hợp các bài viết chia sẻ kinh nghiệm cuộc sống</Description>
      <Keywords>Kinh nghiệm</Keywords>
    </rule>
    <rule>
      <Cat_ID>1060</Cat_ID>
      <Title>Thư giãn</Title>
      <Description>Tổng hợp bài viết, hình ảnh thư giãn</Description>
      <Keywords>Thư giãn</Keywords>
    </rule>
    <rule>
      <Cat_ID>1061</Cat_ID>
      <Title>Games</Title>
      <Description>Thông tin mới về Game và ngành công nghiệp game trên thế giới</Description>
      <Keywords>Games</Keywords>
    </rule>
    <rule>
      <Cat_ID>1062</Cat_ID>
      <Title>Cười</Title>
      <Description>Cười</Description>
      <Keywords>Cười</Keywords>
    </rule>
    <rule>
      <Cat_ID>1063</Cat_ID>
      <Title>Văn học</Title>
      <Description>Văn học</Description>
      <Keywords>Văn học</Keywords>
    </rule>
    <rule>
      <Cat_ID>1064</Cat_ID>
      <Title>Trắc nghiệm</Title>
      <Description>Trắc nghiệm</Description>
      <Keywords>Trắc nghiệm</Keywords>
    </rule>
    <rule>
      <Cat_ID>1065</Cat_ID>
      <Title>Cafe Sáng</Title>
      <Description>Cafe Sáng</Description>
      <Keywords>Cafe Sáng</Keywords>
    </rule>
    <rule>
      <Cat_ID>1066</Cat_ID>
      <Title>Điểm đến hôm nay</Title>
      <Description>Điểm đến hôm nay</Description>
      <Keywords>Điểm đến hôm nay</Keywords>
    </rule>
    <rule>
      <Cat_ID>1067</Cat_ID>
      <Title>Thời trang</Title>
      <Description>Cập nhật các thông tin, xu hướng thời trang trong và ngoài nước</Description>
      <Keywords>Thời trang</Keywords>
    </rule>
    <rule>
      <Cat_ID>1068</Cat_ID>
      <Title>Làm đẹp</Title>
      <Description>Thông tin làm đẹp,địa chỉ làm đẹp, cách làm đẹp</Description>
      <Keywords>Làm đẹp</Keywords>
    </rule>
    <rule>
      <Cat_ID>1069</Cat_ID>
      <Title>Sức khỏe giới tính</Title>
      <Description>Tổng hợp các bài viết về sức khỏe, vệ sinh an toàn</Description>
      <Keywords>Sức khỏe giới tính</Keywords>
    </rule>
    <rule>
      <Cat_ID>1070</Cat_ID>
      <Title>Nhà đẹp</Title>
      <Description>Tổng hợp các bài viết về nhà đẹp</Description>
      <Keywords>Nhà đẹp</Keywords>
    </rule>
    <rule>
      <Cat_ID>1071</Cat_ID>
      <Title>Yêu Sống</Title>
      <Description>Yêu Sống</Description>
      <Keywords>Yêu Sống</Keywords>
    </rule>
    <rule>
      <Cat_ID>1072</Cat_ID>
      <Title>Chuyện công sở</Title>
      <Description>Các bài viết về chuyện công sở, kinh nghiệm chuyện công sở</Description>
      <Keywords>Chuyện công sở</Keywords>
    </rule>
    <rule>
      <Cat_ID>1073</Cat_ID>
      <Title>Làm cha mẹ</Title>
      <Description>Tổng hợp các bài viết về việc giáo dục, chia sẻ kinh nghiệm của những người làm cha mẹ</Description>
      <Keywords>Làm cha mẹ</Keywords>
    </rule>
    <rule>
      <Cat_ID></Cat_ID>
      <Title>Giáo dục</Title>
      <Description>Tổng hợp thông tin về giáo dục</Description>
      <Keywords>Giáo dục</Keywords>
    </rule>
    <rule>
      <Cat_ID>1074</Cat_ID>
      <Title>Nhịp sống trẻ</Title>
      <Description>Tổng hợp thông tin về nhịp sống trẻ, cuộc sống của giới trẻ</Description>
      <Keywords>Nhịp sống trẻ</Keywords>
    </rule>
    <rule>
      <Cat_ID>1075</Cat_ID>
      <Title>Nội trợ</Title>
      <Description>Tổng hợp thông tin, các bài viết về nội trợ, kinh nghiệm nội trợ</Description>
      <Keywords>Nội trợ</Keywords>
    </rule>
    <rule>
      <Cat_ID>1076</Cat_ID>
      <Title>Xem</Title>
      <Description>Cập nhật thông tin về video, phim, sự kiện, nhân vật...có thể xem</Description>
      <Keywords>Xem</Keywords>
    </rule>
    <rule>
      <Cat_ID>1077</Cat_ID>
      <Title>Nghe</Title>
      <Description>Nghe</Description>
      <Keywords>Nghe</Keywords>
    </rule>
    <rule>
      <Cat_ID>1078</Cat_ID>
      <Title>Ăn chơi</Title>
      <Description>Ăn chơi ở đâu? Nhà hàng, khách sạn, điểm đến, khám phá</Description>
      <Keywords>Ăn chơi</Keywords>
    </rule>
    <rule>
      <Cat_ID>1079</Cat_ID>
      <Title>Tâm sự</Title>
      <Description>Chuyên mục tâm sự chia sẻ cả tất cả độc giả.</Description>
      <Keywords>Tâm sự</Keywords>
    </rule>
    <rule>
      <Cat_ID>1093</Cat_ID>
      <Title>Đào tạo tuyển sinh</Title>
      <Description>Tổng hợp các thông tin tuyển sinh, đào tạo trong và ngoài nước</Description>
      <Keywords>Đào tạo, Tuyển sinh</Keywords>
    </rule>
    <rule>
      <Cat_ID>1080</Cat_ID>
      <Title>Thảo luận</Title>
      <Description>Thảo luận</Description>
      <Keywords>Thảo luận</Keywords>
    </rule>
    <rule>
      <Cat_ID>1081</Cat_ID>
      <Title>Tin bạn đọc</Title>
      <Description>Tin bạn đọc</Description>
      <Keywords>Tin bạn đọc</Keywords>
    </rule>
    <rule>
      <Cat_ID>1082</Cat_ID>
      <Title>Blog 360</Title>
      <Description>Blog 360</Description>
      <Keywords>Blog 360</Keywords>
    </rule>
    <rule>
      <Cat_ID>1083</Cat_ID>
      <Title>Blog VIP</Title>
      <Description>Blog VIP</Description>
      <Keywords>Blog VIP</Keywords>
    </rule>
    <rule>
      <Cat_ID>1084</Cat_ID>
      <Title>Photo</Title>
      <Description>Tổng hợp, cập nhật các thông tin sự kiện, nhân vật qua ảnh</Description>
      <Keywords>Photo</Keywords>
    </rule>
    <rule>
      <Cat_ID>1085</Cat_ID>
      <Title>Video</Title>
      <Description>Tổng hợp các thông tin sự kiện, nhân vật qua video</Description>
      <Keywords>Video</Keywords>
    </rule>
    <rule>
      <Cat_ID>1086</Cat_ID>
      <Title>Giải trí</Title>
      <Description>Tổng hợp các thông tin giải trí</Description>
      <Keywords>Giải trí</Keywords>
    </rule>
    <rule>
      <Cat_ID>1087</Cat_ID>
      <Title>Đời sống</Title>
      <Description>Tổng hợp các thông tin đời sống</Description>
      <Keywords>Đời sống</Keywords>
    </rule>
  </rules>
</MetaRules>
