<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<RewriteRules>
  <Configuration>
    <RewriteRulesFile cacheExpire="36000" />
  </Configuration>
  <rules>
    <!--http://netlife.vn/nha-tao-mau-toc/tags-bmjDoCB04bqhbyBt4bqrdSB0w7Nj.html-->
    <!--http://netlife.vn/baiviet/22218_ngam-anh-cuoi-doc-nhat-vo-nhi-cua-nguoi-dep-mac-van-uy.html-->
    <rule name="301">
      <url>/baiviet/([0-9]+)_([^/]+).html</url>
      <rewrite>/Pages/Detail.aspx?News_ID=$1&amp;move301=true</rewrite>
    </rule>
    <rule name="301">
      <url>/content/([^/]+).html</url>
      <rewrite>/Pages/Page404.aspx</rewrite>
    </rule>
    <rule name="Trang tin chi tiet moi">
      <url>/([^/]+)/([^/]+)-c([0-9]+)-([0-9]+).html</url>
      <rewrite>/Pages/Detail.aspx?Cat_ID=$3&amp;News_ID=$4</rewrite>
    </rule>

    <!-- Danh sach tin -->
    <!--Clip-->
    <rule name="Clip">
      <url>/clip.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=78&amp;PageIndex=1&amp;Cat_Name=clip</rewrite>
    </rule>
    <rule name="Clip - phan trang">
      <url>/clip/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=78&amp;PageIndex=$1&amp;Cat_Name=clip</rewrite>
    </rule>

    <rule name="Clip">
      <url>/all-clip.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=142&amp;PageIndex=1&amp;Cat_Name=all-clip</rewrite>
    </rule>
    <rule name="Clip - phan trang">
      <url>/clip/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=142&amp;PageIndex=$1&amp;Cat_Name=all-clip</rewrite>
    </rule>



    <rule name="Hài">
      <url>/clip-hai.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=143&amp;PageIndex=1&amp;Cat_Name=clip-hai</rewrite>
    </rule>
    <rule name="Hài - phan trang">
      <url>/clip-hai/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=143&amp;PageIndex=$1&amp;Cat_Name=clip-hai</rewrite>
    </rule>


    <rule name="Tin showbiz">
      <url>/clip-tin-show-biz.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=144&amp;PageIndex=1&amp;Cat_Name=clip-tin-show-biz</rewrite>
    </rule>
    <rule name="Tin showbiz - phan trang">
      <url>/clip-tin-show-biz/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=144&amp;PageIndex=$1&amp;Cat_Name=clip-tin-show-biz</rewrite>
    </rule>

    <rule name="Làm đẹp">
      <url>/clip-lam-dep.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=145&amp;PageIndex=1&amp;Cat_Name=clip-lam-dep</rewrite>
    </rule>
    <rule name="Làm đẹp - phan trang">
      <url>/clip-lam-dep/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=145&amp;PageIndex=$1&amp;Cat_Name=clip-lam-dep</rewrite>
    </rule>
    <rule name="Du lịch">
      <url>/clip-du-lich.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=146&amp;PageIndex=1&amp;Cat_Name=clip-du-lich</rewrite>
    </rule>
    <rule name="Du lịch - phan trang">
      <url>/clip-du-lich/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=146&amp;PageIndex=$1&amp;Cat_Name=clip-du-lich</rewrite>
    </rule>
    <rule name="Ẩm thực">
      <url>/clip-am-thuc.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=147&amp;PageIndex=1&amp;Cat_Name=clip-am-thuc</rewrite>
    </rule>
    <rule name="Ẩm thực - phan trang">
      <url>/clip-am-thuc/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=147&amp;PageIndex=$1&amp;Cat_Name=clip-am-thuc</rewrite>
    </rule>
    <rule name="Mẹ và bé">
      <url>/clip-me-va-be.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=148&amp;PageIndex=1&amp;Cat_Name=clip-me-va-be</rewrite>
    </rule>
    <rule name="Mẹ và bé - phan trang">
      <url>/clip-me-va-be/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=148&amp;PageIndex=$1&amp;Cat_Name=clip-me-va-be</rewrite>
    </rule>
    <rule name="Giới trẻ">
      <url>/gioi-tre.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=150&amp;PageIndex=1&amp;Cat_Name=gioi-tre</rewrite>
    </rule>
    <rule name="Giới trẻ - phan trang">
      <url>/gioi-tre/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=150&amp;PageIndex=$1&amp;Cat_Name=gioi-tre</rewrite>
    </rule>
    <rule name="Thú cưng">
      <url>/thu-cung.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=151&amp;PageIndex=1&amp;Cat_Name=thu-cung</rewrite>
    </rule>
    <rule name="Thú cưng - phan trang">
      <url>/thu-cung/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=142&amp;Cat_ID=151&amp;PageIndex=$1&amp;Cat_Name=thu-cung</rewrite>
    </rule>



    <!-- add 20160508, them chuyen muc con cho menu Clip START-->
    <!--<rule name="Hài">
      <url>/hai.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=90&amp;PageIndex=1&amp;Cat_Name=hai</rewrite>
    </rule>
    <rule name="Hài - phan trang">
      <url>/hai/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=90&amp;PageIndex=$1&amp;Cat_Name=hai</rewrite>
    </rule>-->

    <rule name="Tiểu phẩm">
      <url>/tieu-pham.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=91&amp;PageIndex=1&amp;Cat_Name=tieu-pham</rewrite>
    </rule>
    <rule name="Tiểu phẩm - phan trang">
      <url>/tieu-pham/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=91&amp;PageIndex=$1&amp;Cat_Name=tieu-pham</rewrite>
    </rule>

    <rule name="Nhạc">
      <url>/nhac.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=92&amp;PageIndex=1&amp;Cat_Name=nhac</rewrite>
    </rule>
    <rule name="Nhạc - phan trang">
      <url>/nhac/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=92&amp;PageIndex=$1&amp;Cat_Name=nhac</rewrite>
    </rule>

    <rule name="Drama">
      <url>/drama.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=93&amp;PageIndex=1&amp;Cat_Name=drama</rewrite>
    </rule>
    <rule name="Drama - phan trang">
      <url>/drama/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=93&amp;PageIndex=$1&amp;Cat_Name=drama</rewrite>
    </rule>

    <rule name="TV Show">
      <url>/tv-show.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=94&amp;PageIndex=1&amp;Cat_Name=tv-show</rewrite>
    </rule>
    <rule name="TV Show - phan trang">
      <url>/tv-show/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=94&amp;PageIndex=$1&amp;Cat_Name=tv-show</rewrite>
    </rule>

    <rule name="Tin xã hội">
      <url>/tin-xa-hoi.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=95&amp;PageIndex=1&amp;Cat_Name=tin-xa-hoi</rewrite>
    </rule>
    <rule name="Tin xa hoi - phan trang">
      <url>/tin-xa-hoi/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=78&amp;Cat_ID=95&amp;PageIndex=$1&amp;Cat_Name=tin-xa-hoi</rewrite>
    </rule>
    <!-- add 20160508, them chuyen muc con cho menu Clip END-->
    <!--End Clip-->

    <!--Sao-->
    <rule name="Sao">
      <url>/sao.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=54&amp;PageIndex=1&amp;Cat_Name=sao</rewrite>
    </rule>
    <rule name="Sao - phan trang">
      <url>/sao/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=54&amp;PageIndex=$1&amp;Cat_Name=sao</rewrite>
    </rule>
    <!-- COMMENT
    <rule name="Chuyện sao">
      <url>/chuyen-sao.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=55&amp;PageIndex=1&amp;Cat_Name=chuyen-sao</rewrite>
    </rule>
    <rule name="Làm đẹp">
      <url>/lam-dep.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=56&amp;PageIndex=1&amp;Cat_Name=lam-dep</rewrite>
    </rule>
    <rule name="Du lịch">
      <url>/du-lich.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=57&amp;PageIndex=1&amp;Cat_Name=du-lich</rewrite>
    </rule>
    <rule name="Sách vở">
      <url>/sach-vo.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=69&amp;PageIndex=1&amp;Cat_Name=sach-vo</rewrite>
    </rule>
    <rule name="Chuyện sao - phan trang">
      <url>/chuyen-sao/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=55&amp;PageIndex=$1&amp;Cat_Name=chuyen-sao</rewrite>
    </rule>
    <rule name="Làm đẹp - phan trang">
      <url>/lam-dep/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=56&amp;PageIndex=$1&amp;Cat_Name=lam-dep</rewrite>
    </rule>
    <rule name="Du lịch - phan trang">
      <url>/du-lich/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=57&amp;PageIndex=$1&amp;Cat_Name=du-lich</rewrite>
    </rule>
    <rule name="Sách vở - phan trang">
      <url>/sach-vo/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=69&amp;PageIndex=$1&amp;Cat_Name=sach-vo</rewrite>
    </rule>
    -->
    <!-- add 20160508, them chuyen muc con cho menu Sao START-->


    <rule name="Sao trẻ">
      <url>/sao-tre.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=96&amp;PageIndex=1&amp;Cat_Name=sao-tre</rewrite>
    </rule>
    <rule name="Sao trẻ - phan trang">
      <url>/sao-tre/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=96&amp;PageIndex=$1&amp;Cat_Name=sao-tre</rewrite>
    </rule>

    <rule name="Sao Việt">
      <url>/sao-viet.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=97&amp;PageIndex=1&amp;Cat_Name=sao-viet</rewrite>
    </rule>
    <rule name="Sao Việt - phan trang">
      <url>/sao-viet/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=97&amp;PageIndex=$1&amp;Cat_Name=sao-viet</rewrite>
    </rule>

    <rule name="Sao Hàn">
      <url>/sao-han.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=98&amp;PageIndex=1&amp;Cat_Name=sao-han</rewrite>
    </rule>
    <rule name="Sao Hàn - phan trang">
      <url>/sao-han/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=98&amp;PageIndex=$1&amp;Cat_Name=sao-han</rewrite>
    </rule>

    <rule name="Sao Hoa Ngữ">
      <url>/sao-hoa-ngu.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=99&amp;PageIndex=1&amp;Cat_Name=sao-hoa-ngu</rewrite>
    </rule>
    <rule name="Sao Hoa Ngữ - phan trang">
      <url>/sao-hoa-ngu/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=99&amp;PageIndex=$1&amp;Cat_Name=sao-hoa-ngu</rewrite>
    </rule>
    <!--
    <rule name="Sao Hollywood">
      <url>/sao-hollywood.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=100&amp;PageIndex=1&amp;Cat_Name=sao-hollywood</rewrite>
    </rule>
    <rule name="Sao Hollywood - phan trang">
      <url>/sao-hollywood/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=54&amp;Cat_ID=100&amp;PageIndex=$1&amp;Cat_Name=sao-hollywood</rewrite>
    </rule>
	-->
    <!-- add 20160508, them chuyen muc con cho menu Sao END-->
    <!--End Sao-->

    <!--Thoi trang
    <rule name="Thời trang">
      <url>/thoi-trang.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=67&amp;PageIndex=1&amp;Cat_Name=thoi-trang</rewrite>
    </rule>
    <rule name="Thời trang - phan trang">
      <url>/thoi-trang/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=67&amp;PageIndex=$1&amp;Cat_Name=thoi-trang</rewrite>
    </rule>
	-->

    <!-- add 20160508, them chuyen muc con cho menu Thoi Trang START-->
    <!--<rule name="Mốt">
      <url>/mot.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=67&amp;Cat_ID=101&amp;PageIndex=1&amp;Cat_Name=mot</rewrite>
    </rule>
    <rule name="Mốt - phan trang">
      <url>/mot/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=67&amp;Cat_ID=101&amp;PageIndex=$1&amp;Cat_Name=mot</rewrite>
    </rule>-->

    <rule name="Cẩm nang">
      <url>/cam-nang.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=67&amp;Cat_ID=102&amp;PageIndex=1&amp;Cat_Name=cam-nang</rewrite>
    </rule>
    <rule name="Cẩm nang - phan trang">
      <url>/cam-nang/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=67&amp;Cat_ID=102&amp;PageIndex=$1&amp;Cat_Name=cam-nang</rewrite>
    </rule>
    <!-- add 20160508, them chuyen muc con cho menu Thoi Trang END-->
    <!--End Thoi Trang-->

    <!--Giai Tri-->
    <rule name="Giải trí">
      <url>/giai-tri.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=68&amp;PageIndex=1&amp;Cat_Name=giai-tri</rewrite>
    </rule>
    <rule name="Giải trí - phan trang">
      <url>/giai-tri/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=68&amp;PageIndex=$1&amp;Cat_Name=giai-tri</rewrite>
    </rule>

    <!-- add 20160508, them chuyen muc con cho menu Giai Tri START-->
    <rule name="Ca nhạc">
      <url>/ca-nhac.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=68&amp;Cat_ID=103&amp;PageIndex=1&amp;Cat_Name=ca-nhac</rewrite>
    </rule>
    <rule name="Ca nhạc - phan trang">
      <url>/ca-nhac/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=68&amp;Cat_ID=103&amp;PageIndex=$1&amp;Cat_Name=ca-nhac</rewrite>
    </rule>

    <rule name="Game show">
      <url>/game-show.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=68&amp;Cat_ID=104&amp;PageIndex=1&amp;Cat_Name=game-show</rewrite>
    </rule>
    <rule name="Game show - phan trang">
      <url>/game-show/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=68&amp;Cat_ID=104&amp;PageIndex=$1&amp;Cat_Name=game-show</rewrite>
    </rule>

    <rule name="Phim">
      <url>/phim.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=68&amp;Cat_ID=105&amp;PageIndex=1&amp;Cat_Name=phim</rewrite>
    </rule>
    <rule name="Phim - phan trang">
      <url>/phim/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=68&amp;Cat_ID=105&amp;PageIndex=$1&amp;Cat_Name=phim</rewrite>
    </rule>
    <!-- add 20160508, them chuyen muc con cho menu Giai Tri END-->
    <!--End Giai Tri-->

    <!--Lam dep-->
    <!-- add 20160508 Thêm menu làm đẹp start-->
    <rule name="Đẹp">
      <url>/dep.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=50&amp;PageIndex=1&amp;Cat_Name=dep</rewrite>
    </rule>
    <rule name="Đẹp - phan trang">
      <url>/dep/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=50&amp;PageIndex=$1&amp;Cat_Name=dep</rewrite>
    </rule>
    <!-- add 20160508 Thêm menu làm đẹp end-->
    <!-- add 20160508, them chuyen muc con cho menu Lam Dep END-->
    <rule name="Thời trang">
      <url>/thoi-trang.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=124&amp;PageIndex=1&amp;Cat_Name=thoi-trang</rewrite>
    </rule>
    <rule name="Thời trang - phan trang">
      <url>/thoi-trang/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=124&amp;PageIndex=$1&amp;Cat_Name=thoi-trang</rewrite>
    </rule>
    <!--
    <rule name="Makeup">
      <url>/make-up.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=125&amp;PageIndex=1&amp;Cat_Name=make-up</rewrite>
    </rule>
    <rule name="Makeup - phan trang">
      <url>/make-up/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=125&amp;PageIndex=$1&amp;Cat_Name=make-up</rewrite>
    </rule>
	-->


    <rule name="Trang điểm">
      <url>/trang-diem.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=110&amp;PageIndex=1&amp;Cat_Name=trang-diem</rewrite>
    </rule>
    <rule name="Trang điểm - phan trang">
      <url>/trang-diem/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=110&amp;PageIndex=$1&amp;Cat_Name=trang-diem</rewrite>
    </rule>
    <!--
    <rule name="Bí quyết">
      <url>/bi-quyet.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=111&amp;PageIndex=1&amp;Cat_Name=bi-quyet</rewrite>
    </rule>
    <rule name="Bí quyết - phan trang">
      <url>/bi-quyet/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=111&amp;PageIndex=$1&amp;Cat_Name=bi-quyet</rewrite>
    </rule>
	-->

    <rule name="Spa">
      <url>/spa.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=112&amp;PageIndex=1&amp;Cat_Name=spa</rewrite>
    </rule>
    <rule name="Spa - phan trang">
      <url>/spa/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=112&amp;PageIndex=$1&amp;Cat_Name=spa</rewrite>
    </rule>
    <!-- add 20160508, them chuyen muc con cho menu Lam dep END-->
    <!--End Lam dep-->

    <!--Xa hoi-->
    <rule name="Xã hội">
      <url>/xa-hoi.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=47&amp;PageIndex=1&amp;Cat_Name=xa-hoi</rewrite>
    </rule>
    <rule name="Xã hội - phan trang">
      <url>/xa-hoi/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=47&amp;PageIndex=$1&amp;Cat_Name=xa-hoi</rewrite>
    </rule>

    <!--
    <rule name="Đời">
      <url>/doi.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=126&amp;PageIndex=1&amp;Cat_Name=doi</rewrite>
    </rule>
    <rule name="Đời - phan trang">
      <url>/doi/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=126&amp;PageIndex=$1&amp;Cat_Name=doi</rewrite>
    </rule>
	-->
    <rule name="Độc lạ">
      <url>/doc-la.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=127&amp;PageIndex=1&amp;Cat_Name=doc-la</rewrite>
    </rule>
    <rule name="Độc lạ - phan trang">
      <url>/doc-la/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=127&amp;PageIndex=$1&amp;Cat_Name=doc-la</rewrite>
    </rule>
    <rule name="Bói">
      <url>/boi.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=128&amp;PageIndex=1&amp;Cat_Name=boi</rewrite>
    </rule>
    <rule name="Bói - phan trang">
      <url>/boi/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=128&amp;PageIndex=$1&amp;Cat_Name=boi</rewrite>
    </rule>


    <rule name="Chơi">
      <url>/choi.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=129&amp;PageIndex=1&amp;Cat_Name=choi</rewrite>
    </rule>
    <rule name="Chơi - phan trang">
      <url>/choi/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=129&amp;PageIndex=$1&amp;Cat_Name=choi</rewrite>
    </rule>

    <rule name="Ẩm thực">
      <url>/am-thuc.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=129&amp;Cat_ID=130&amp;PageIndex=1&amp;Cat_Name=am-thuc</rewrite>
    </rule>
    <rule name="Ẩm thực - phan trang">
      <url>/am-thuc/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=129&amp;Cat_ID=130&amp;PageIndex=$1&amp;Cat_Name=am-thuc</rewrite>
    </rule>
    <rule name="Du lịch">
      <url>/du-lich.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=129&amp;Cat_ID=131&amp;PageIndex=1&amp;Cat_Name=du-lich</rewrite>
    </rule>
    <rule name="Du lịch - phan trang">
      <url>/du-lich/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=129&amp;Cat_ID=131&amp;PageIndex=$1&amp;Cat_Name=du-lich</rewrite>
    </rule>


    <rule name="Hài">
      <url>/hai.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=132&amp;PageIndex=1&amp;Cat_Name=hai</rewrite>
    </rule>
    <rule name="Hài - phan trang">
      <url>/hai/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=132&amp;PageIndex=$1&amp;Cat_Name=hai</rewrite>
    </rule>


    <rule name="Truyện cười">
      <url>/truyen-cuoi.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=132&amp;Cat_ID=133&amp;PageIndex=1&amp;Cat_Name=truyen-cuoi</rewrite>
    </rule>
    <rule name="Truyện cười - phan trang">
      <url>/truyen-cuoi/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=132&amp;Cat_ID=133&amp;PageIndex=$1&amp;Cat_Name=truyen-cuoi</rewrite>
    </rule>

    <rule name="Clip hài">
      <url>/clip-hai.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=132&amp;Cat_ID=134&amp;PageIndex=1&amp;Cat_Name=clip-hai</rewrite>
    </rule>
    <rule name="Clip hài - phan trang">
      <url>/clip-hai/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=132&amp;Cat_ID=134&amp;PageIndex=$1&amp;Cat_Name=clip-hai</rewrite>
    </rule>



    <rule name="Đàn ông">
      <url>/dan-ong.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=136&amp;PageIndex=1&amp;Cat_Name=dan-ong</rewrite>
    </rule>
    <rule name="Đàn ông - phan trang">
      <url>/dan-ong/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=136&amp;PageIndex=$1&amp;Cat_Name=dan-ong</rewrite>
    </rule>


    <rule name="Thể thao">
      <url>/the-thao.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=136&amp;Cat_ID=135&amp;PageIndex=1&amp;Cat_Name=the-thao</rewrite>
    </rule>
    <rule name="Thể thao - phan trang">
      <url>/the-thao/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=136&amp;Cat_ID=135&amp;PageIndex=$1&amp;Cat_Name=the-thao</rewrite>
    </rule>
    <rule name="Công nghệ">
      <url>/cong-nghe.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=136&amp;Cat_ID=58&amp;PageIndex=1&amp;Cat_Name=cong-nghe</rewrite>
    </rule>
    <rule name="Công nghệ - phan trang">
      <url>/cong-nghe/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=136&amp;Cat_ID=58&amp;PageIndex=$1&amp;Cat_Name=cong-nghe</rewrite>
    </rule>

    <rule name="Thời trang nam">
      <url>/thoi-trang-nam.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=136&amp;Cat_ID=137&amp;PageIndex=1&amp;Cat_Name=thoi-trang-nam</rewrite>
    </rule>
    <rule name="Thời trang nam - phan trang">
      <url>/thoi-trang-nam/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=136&amp;Cat_ID=137&amp;PageIndex=$1&amp;Cat_Name=thoi-trang-nam</rewrite>
    </rule>


    <!-- COMMENT
    <rule name="Trong nước">
      <url>/trong-nuoc.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=48&amp;PageIndex=1&amp;Cat_Name=trong-nuoc</rewrite>
    </rule>
    <rule name="Quốc tế">
      <url>/quoc-te.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=49&amp;PageIndex=1&amp;Cat_Name=quoc-te</rewrite>
    </rule>
    <rule name="Trong nước - phan trang">
      <url>/trong-nuoc/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=48&amp;PageIndex=$1&amp;Cat_Name=trong-nuoc</rewrite>
    </rule>
    <rule name="Quốc tế - phan trang">
      <url>/quoc-te/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=49&amp;PageIndex=$1&amp;Cat_Name=quoc-te</rewrite>
    </rule>
    END COMMENT-->

    <!-- add 20160508, them chuyen muc con cho menu Xa Hoi END-->
    <rule name="Đời sống">
      <url>/doi-song.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=48&amp;PageIndex=1&amp;Cat_Name=doi-song</rewrite>
    </rule>
    <rule name="Đời sống - phan trang">
      <url>/doi-song/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=48&amp;PageIndex=$1&amp;Cat_Name=doi-song</rewrite>
    </rule>

    <rule name="Pháp Luật">
      <url>/phap-luat.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=49&amp;PageIndex=1&amp;Cat_Name=phap-luat</rewrite>
    </rule>
    <rule name="Pháp luật - phan trang">
      <url>/phap-luat/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=47&amp;Cat_ID=49&amp;PageIndex=$1&amp;Cat_Name=phap-luat</rewrite>
    </rule>
    <!-- add 20160508, them chuyen muc con cho menu Xa Hoi END-->
    <!--End Xa hoi-->


    <rule name="Mẹ và bé">
      <url>/me-va-be.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=138&amp;PageIndex=1&amp;Cat_Name=me-va-be</rewrite>
    </rule>
    <rule name="Mẹ và bé - phan trang">
      <url>/me-va-be/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=138&amp;PageIndex=$1&amp;Cat_Name=me-va-be</rewrite>
    </rule>

    <rule name="Dinh dưỡng">
      <url>/dinh-duong.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=138&amp;Cat_ID=139&amp;PageIndex=1&amp;Cat_Name=dinh-duong</rewrite>
    </rule>
    <rule name="Dinh dưỡng - phan trang">
      <url>/dinh-duong/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=138&amp;Cat_ID=139&amp;PageIndex=$1&amp;Cat_Name=dinh-duong</rewrite>
    </rule>
    <rule name="Sức khỏe">
      <url>/suc-khoe.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=138&amp;Cat_ID=140&amp;PageIndex=1&amp;Cat_Name=suc-khoe</rewrite>
    </rule>
    <rule name="Sức khỏe - phan trang">
      <url>/suc-khoe/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=138&amp;Cat_ID=140&amp;PageIndex=$1&amp;Cat_Name=suc-khoe</rewrite>
    </rule>
    <rule name="Mẹo nuôi con">
      <url>/meo-nuoi-con.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=138&amp;Cat_ID=141&amp;PageIndex=1&amp;Cat_Name=meo-nuoi-con</rewrite>
    </rule>
    <rule name="Mẹo nuôi con - phan trang">
      <url>/meo-nuoi-con/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=138&amp;Cat_ID=141&amp;PageIndex=$1&amp;Cat_Name=meo-nuoi-con</rewrite>
    </rule>


    <!--Tuyen dung-->
    <!-- add 20160508 Thêm menu tuyển dụng start-->
    <!-- 
    <rule name="Tuyển dụng">
      <url>/tuyen-dung.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=76&amp;PageIndex=1&amp;Cat_Name=tuyen-dung</rewrite>
    </rule>
    <rule name="Tuyển dụng - phan trang">
      <url>/tuyen-dung/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=76&amp;PageIndex=$1&amp;Cat_Name=tuyen-dung</rewrite>
    </rule>
    -->
    <!-- add 20160508 Thêm menu tuyển dụng end-->
    <!--End Tuyen dung-->
    <!--Sức khỏe-->
    <!-- add 20160508 Thêm menu sức khỏe start
    <rule name="Sức khỏe">
      <url>/suc-khoe.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=83&amp;PageIndex=1&amp;Cat_Name=suc-khoe</rewrite>
    </rule>
    <rule name="Sức khỏe - phan trang">
      <url>/suc-khoe/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=83&amp;PageIndex=$1&amp;Cat_Name=suc-khoe</rewrite>
    </rule>
	-->
    <!-- add 20160508 Thêm menu sức khỏe end-->

    <!-- add 20160508, them chuyen muc con cho menu Lam Dep END-->
    <rule name="Giới tính">
      <url>/gioi-tinh.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=83&amp;Cat_ID=113&amp;PageIndex=1&amp;Cat_Name=gioi-tinh</rewrite>
    </rule>
    <rule name="Giới tính - phan trang">
      <url>/gioi-tinh/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=83&amp;Cat_ID=113&amp;PageIndex=$1&amp;Cat_Name=gioi-tinh</rewrite>
    </rule>

    <rule name="Dinh dưỡng">
      <url>/dinh-duong.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=83&amp;Cat_ID=114&amp;PageIndex=1&amp;Cat_Name=dinh-duong</rewrite>
    </rule>
    <rule name="Dinh dưỡng - phan trang">
      <url>/dinh-duong/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=83&amp;Cat_ID=114&amp;PageIndex=$1&amp;Cat_Name=dinh-duong</rewrite>
    </rule>

    <rule name="Tư vấn">
      <url>/tu-van.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=83&amp;Cat_ID=115&amp;PageIndex=1&amp;Cat_Name=tu-van</rewrite>
    </rule>
    <rule name="Tư vấn - phan trang">
      <url>/tu-van/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=83&amp;Cat_ID=115&amp;PageIndex=$1&amp;Cat_Name=tu-van</rewrite>
    </rule>
    <!-- add 20160508, them chuyen muc con cho menu Lam dep END-->
    <!--End Súc khỏe-->

    <!--Gia đinh-->
    <!-- add 20160508 Thêm menu Gia đình start-->
    <rule name="Gia đình">
      <url>/gia-dinh.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=82&amp;PageIndex=1&amp;Cat_Name=gia-dinh</rewrite>
    </rule>
    <rule name="Gia đình - phan trang">
      <url>/gia-dinh/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=82&amp;PageIndex=$1&amp;Cat_Name=gia-dinh</rewrite>
    </rule>
    <!-- add 20160508 Thêm menu gia dinh end-->

    <!-- add 20160508, them chuyen muc con cho menu Gia dinh END-->
    <rule name="Tuổi trẻ">
      <url>/tuoi-tre.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=82&amp;Cat_ID=116&amp;PageIndex=1&amp;Cat_Name=tuoi-tre</rewrite>
    </rule>
    <rule name="Tuổi trẻ - phan trang">
      <url>/tuoi-tre/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=82&amp;Cat_ID=116&amp;PageIndex=$1&amp;Cat_Name=tuoi-tre</rewrite>
    </rule>

    <rule name="Vợ chồng">
      <url>/vo-chong.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=82&amp;Cat_ID=117&amp;PageIndex=1&amp;Cat_Name=vo-chong</rewrite>
    </rule>
    <rule name="Vợ chồng - phan trang">
      <url>/vo-chong/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=82&amp;Cat_ID=117&amp;PageIndex=$1&amp;Cat_Name=vo-chong</rewrite>
    </rule>

    <rule name="Bố mẹ - con cái">
      <url>/bome-concai.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=82&amp;Cat_ID=118&amp;PageIndex=1&amp;Cat_Name=bome-concai</rewrite>
    </rule>
    <rule name="Bố mẹ - con cái - phan trang">
      <url>/bome-concai/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=82&amp;Cat_ID=118&amp;PageIndex=$1&amp;Cat_Name=bome-concai</rewrite>
    </rule>
    <!-- add 20160508, them chuyen muc con cho menu Gia đình END-->
    <!--End Gia đình-->
    <!--Choi-->
    <!--<rule name="Chơi">
      <url>/choi.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=50&amp;PageIndex=1&amp;Cat_Name=choi</rewrite>
    </rule>
    <rule name="Tình yêu">
      <url>/tinh-yeu.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=51&amp;PageIndex=1&amp;Cat_Name=tinh-yeu</rewrite>
    </rule>
    <rule name="Gia đình">
      <url>/gia-dinh.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=52&amp;PageIndex=1&amp;Cat_Name=gia-dinh</rewrite>
    </rule>-->
    <!--  COMMENT <rule name="Sức khoẻ">
      <url>/suc-khoe.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=53&amp;PageIndex=1&amp;Cat_Name=suc-khoe</rewrite>
    </rule>
     <rule name="Sức khoẻ - phan trang">
      <url>/suc-khoe/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=53&amp;PageIndex=$1&amp;Cat_Name=suc-khoe</rewrite>
    </rule>-->







    <!--<rule name="Lối sống">
      <url>/loi-song.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=64&amp;PageIndex=1&amp;Cat_Name=loi-song</rewrite>
    </rule>
    <rule name="Cảm xúc">
      <url>/cam-xuc.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=65&amp;PageIndex=1&amp;Cat_Name=cam-xuc</rewrite>
    </rule>
    <rule name="Ẩm thực">
      <url>/am-thuc.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=70&amp;PageIndex=1&amp;Cat_Name=am-thuc</rewrite>
    </rule>
    <rule name="Chơi - phan trang">
      <url>/choi/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=50&amp;PageIndex=$1&amp;Cat_Name=choi</rewrite>
    </rule>
    <rule name="Tình yêu - phan trang">
      <url>/tinh-yeu/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=51&amp;PageIndex=$1&amp;Cat_Name=tinh-yeu</rewrite>
    </rule>
    <rule name="Gia đình - phan trang">
      <url>/gia-dinh/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=52&amp;PageIndex=$1&amp;Cat_Name=gia-dinh</rewrite>
    </rule>
   
    <rule name="Lối sống - phan trang">
      <url>/loi-song/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=64&amp;PageIndex=$1&amp;Cat_Name=loi-song</rewrite>
    </rule>
    <rule name="Cảm xúc - phan trang">
      <url>/cam-xuc/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=65&amp;PageIndex=$1&amp;Cat_Name=cam-xuc</rewrite>
    </rule>
    <rule name="Ẩm thực - phan trang">
      <url>/am-thuc/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=50&amp;Cat_ID=70&amp;PageIndex=$1&amp;Cat_Name=am-thuc</rewrite>
    </rule>-->
    <!--End Choi-->

    <!--Cong nghe-->
    <!--<rule name="Công nghệ">
      <url>/cong-nghe.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=58&amp;PageIndex=1&amp;Cat_Name=cong-nghe</rewrite>
    </rule>
    <rule name="Điện thoại">
      <url>/dien-thoai.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=58&amp;Cat_ID=59&amp;PageIndex=1&amp;Cat_Name=dien-thoai</rewrite>
    </rule>
    <rule name="Xe cộ">
      <url>/xe-co.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=58&amp;Cat_ID=60&amp;PageIndex=1&amp;Cat_Name=xe-co</rewrite>
    </rule>
    <rule name="Máy tính">
      <url>/may-tinh.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=58&amp;Cat_ID=75&amp;PageIndex=1&amp;Cat_Name=may-tinh</rewrite>
    </rule>
    <rule name="Công nghệ - phan trang">
      <url>/cong-nghe/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=58&amp;PageIndex=$1&amp;Cat_Name=cong-nghe</rewrite>
    </rule>
    <rule name="Điện thoại - phan trang">
      <url>/dien-thoai/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=58&amp;Cat_ID=59&amp;PageIndex=$1&amp;Cat_Name=dien-thoai</rewrite>
    </rule>
    <rule name="Xe cộ - phan trang">
      <url>/xe-co/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=58&amp;Cat_ID=60&amp;PageIndex=$1&amp;Cat_Name=xe-co</rewrite>
    </rule>
    <rule name="Máy tính - phan trang">
      <url>/may-tinh/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=58&amp;Cat_ID=75&amp;PageIndex=$1&amp;Cat_Name=may-tinh</rewrite>
    </rule>-->
    <!--End Cong nghe-->

    <!--Blog-->
    <!--<rule name="Blog">
      <url>/Blog.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=61&amp;PageIndex=1&amp;Cat_Name=blog</rewrite>
    </rule>
    <rule name="Blog - phan trang">
      <url>/Blog/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=61&amp;PageIndex=$1&amp;Cat_Name=blog</rewrite>
    </rule>
    -->
    <!--End Blog-->
    <!--
    
    -->
    <!--Kinh doanh-->
    <!--
    <rule name="Kinh doanh">
      <url>/kinh-doanh.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=63&amp;PageIndex=1&amp;Cat_Name=kinh-doanh</rewrite>
    </rule>    
    <rule name="Doanh nhân">
      <url>/doanh-nhan.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=63&amp;Cat_ID=71&amp;PageIndex=1&amp;Cat_Name=doanh-nhan</rewrite>
    </rule>
    <rule name="Doanh nghiệp">
      <url>/doanh-nghiep.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=63&amp;Cat_ID=72&amp;PageIndex=1&amp;Cat_Name=doanh-nghiep</rewrite>
    </rule>
    <rule name="Kinh nghiệm">
      <url>/kinh-nghiem.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=63&amp;Cat_ID=73&amp;PageIndex=1&amp;Cat_Name=kinh-nghiem</rewrite>
    </rule>
    <rule name="Sản phẩm">
      <url>/san-pham.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=63&amp;Cat_ID=74&amp;PageIndex=1&amp;Cat_Name=san-pham</rewrite>
    </rule>
    <rule name="Kinh doanh - phan trang">
      <url>/kinh-doanh/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=63&amp;PageIndex=$1&amp;Cat_Name=kinh-doanh</rewrite>
    </rule>    
    <rule name="Doanh nhân - phan trang">
      <url>/doanh-nhan/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=63&amp;Cat_ID=71&amp;PageIndex=$1&amp;Cat_Name=doanh-nhan</rewrite>
    </rule>
    <rule name="Doanh nghiệp - phan trang">
      <url>/doanh-nghiep/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=63&amp;Cat_ID=72&amp;PageIndex=$1&amp;Cat_Name=doanh-nghiep</rewrite>
    </rule>
    <rule name="Kinh nghiệm - phan trang">
      <url>/kinh-nghiem/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=63&amp;Cat_ID=73&amp;PageIndex=$1&amp;Cat_Name=kinh-nghiem</rewrite>
    </rule>
    <rule name="Sản phẩm - phan trang">
      <url>/san-pham/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=63&amp;Cat_ID=74&amp;PageIndex=$1&amp;Cat_Name=san-pham</rewrite>
    </rule>-->
    <!--End Kinh doanh-->

    <!--Tam su-->
    <!--<rule name="Tâm sự">
      <url>/tam-su.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=76&amp;PageIndex=1&amp;Cat_Name=tam-su</rewrite>
    </rule>
    <rule name="Tâm sự - phan trang">
      <url>/tam-su/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=76&amp;PageIndex=$1&amp;Cat_Name=tam-su</rewrite>
    </rule>
    -->
    <!--End Tam su-->

    <!--The Thao-->
    <!--<rule name="Thể thao">
      <url>/bong.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=77&amp;PageIndex=1&amp;Cat_Name=bong</rewrite>
    </rule>
    <rule name="Thể thao - phan trang">
      <url>/bong/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=77&amp;PageIndex=$1&amp;Cat_Name=bong</rewrite>
    </rule>
    -->
    <!--End The Thao-->
    <!--
    
    -->
    <!--Boi-->
    <!--
    <rule name="Bói">
      <url>/boi.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=81&amp;PageIndex=1&amp;Cat_Name=boi</rewrite>
    </rule>
    <rule name="Bói - phan trang">
      <url>/boi/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=81&amp;PageIndex=$1&amp;Cat_Name=boi</rewrite>
    </rule>
    -->
    <!--End Boi-->
    <!--
    
    -->
    <!--Gioi tre-->
    <!--
    <rule name="Giới trẻ">
      <url>/yeu.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=82&amp;PageIndex=1&amp;Cat_Name=yeu</rewrite>
    </rule>
    <rule name="Giới trẻ - phan trang">
      <url>/yeu/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=82&amp;PageIndex=$1&amp;Cat_Name=yeu</rewrite>
    </rule>
    -->
    <!--End Gioi tre-->
    <!--
    
    -->
    <!--Chuyen la-->
    <!--
    <rule name="Chuyện lạ">
      <url>/doc.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=83&amp;PageIndex=1&amp;Cat_Name=doc</rewrite>
    </rule>
    <rule name="Chuyện lạ - phan trang">
      <url>/doc/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=83&amp;PageIndex=$1&amp;Cat_Name=doc</rewrite>
    </rule>
    -->
    <!--End Chuyen la-->
    <!--
    
    -->
    <!--Anh-->
    <!--
    <rule name="Ảnh">
      <url>/anh.html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=87&amp;PageIndex=1&amp;Cat_Name=anh</rewrite>
    </rule>
    <rule name="Ảnh - phan trang">
      <url>/anh/trang-([0-9]+).html</url>
      <rewrite>/Pages/List.aspx?Cat_ParentID=0&amp;Cat_ID=87&amp;PageIndex=$1&amp;Cat_Name=anh</rewrite>
    </rule>-->
    <!--End Anh-->

    <!--Het dan hsacsh-->
    <!--Rss-->
    <rule name="RSS">
      <url>/rss.html</url>
      <rewrite>/Pages/Rss/default.aspx</rewrite>
    </rule>
    <rule name="Rss">
      <url>/rss/([^/]+)-([0-9]+).rss</url>
      <rewrite>/Pages/Rss/Rss_Content.aspx?catUrl=$1&amp;Cat_ID=$2</rewrite>
    </rule>
    <!--End Rss-->

    <!--Tag-->
    <rule name="Tag">
      <url>/tags/([^/]+)/([^/]+).html</url>
      <rewrite>/Pages/Move301.aspx?key=$1&amp;type=tags</rewrite>
    </rule>
    <rule name="Tag">
      <url>/tag/([^/]+)/trang-([0-9]+).html</url>
      <rewrite>/Pages/Search.aspx?key=$1&amp;PageIndex=$2</rewrite>
    </rule>
    <rule name="Tag">
      <url>/tag/([^/]+).html</url>
      <rewrite>/Pages/Search.aspx?key=$1&amp;tag=true</rewrite>
    </rule>
    <!--End Tag-->

    <!--Trang chi tiet cu-->
    <rule name="Trang tin chi tiet cu">
      <url>/([^/]+)/([^/]+)-([0-9]+).html</url>
      <rewrite>/Pages/Detail.aspx?Cat_Name=$1&amp;News_ID=$3&amp;move301=true</rewrite>
    </rule>
    <!--End Trang chi tiet cu-->
  </rules>
</RewriteRules>